/* TYPOGRAPHY */

@font-face {
  font-family: 'Gotham HTF';
  src: url('/fonts/gothamhtf-book-webfont.woff2') format('woff2'),
       url('/fonts/gothamhtf-book-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lavanderia';
  src: url('/fonts/lavanderia-webfont.woff2') format('woff2'),
  url('/fonts/lavanderia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}