/* VARIABLES */

// colors

$color-white: #FFFFFF;
$color-grey: #818285;
$color-blue: #67a3d9;


// backgrounds

$bg-white: #FFFFFF;


// font families
$font-playfair: 'Playfair Display', serif;
$font-gotham: 'Gotham HTF', sans-serif;
$font-lavanderia: 'Lavanderia', sans-serif;

$letter-spacing-gotham: -0.01em;

$zindex-up: 10;
$zindex-bg: -1000;
