/* VARIABLES */

// colors

$color-white: #FFFFFF;
$color-turquoise: #00af94;


// backgrounds

$bg-white: #FFFFFF;
$bg-turquoise: #00c8aa;
$bg-black: #000000;


// font families

$font-lato: 'Lato', Arial, Verdana, sans-serif;
$font-raleway: 'Raleway', Arial, Verdana, sans-serif;
